In [80]:
import pandas as pd
import numpy as np
import datetime, time
import matplotlib.pyplot as plt
import seaborn as sns

In [97]:
# Read in weather data that Oj sent

merged_data = pd.read_csv('dataset.csv') # I put the csv in the same folder as this notebook - so convenient!

merged_data = merged_data.astype({'time': 'datetime64[ns]'})

# Validating data - do we have all the data we need?

Spoiler: No, we don't have all the days of the year.

In [8]:
merged_data

,time,latitude,longitude,cwat,r,tozne,gh,pwat,paramId_0,pres
0,2001-01-06 00:00:00,34.5,243.0,0.14,29.0,269.200012,3222.719971,14.6,12.0,47210.0
1,2001-01-06 00:00:00,34.5,243.5,0.06,27.0,268.899994,3285.760010,14.3,16.0,47250.0
2,2001-01-08 00:00:00,39.5,235.0,0.29,42.0,291.500000,2081.760010,18.6,30.0,65820.0
3,2001-01-08 00:00:00,39.5,235.5,0.50,51.0,286.100006,2126.080078,22.6,8.0,75750.0
4,2001-01-08 00:00:00,39.0,235.5,0.46,47.0,284.700012,2108.479980,21.4,26.0,71680.0
...,...,...,...,...,...,...,...,...,...,...
210262,2010-12-30 12:00:00,39.5,243.0,0.26,12.0,377.299988,770.880005,2.6,22.0,55430.0
210263,2010-12-30 12:00:00,39.0,242.5,0.40,14.0,367.299988,849.119995,3.1,24.0,54860.0
210264,2010-12-30 12:00:00,38.5,242.5,0.32,14.0,363.600006,939.200012,3.2,19.0,55720.0
210265,2010-12-30 12:00:00,38.0,243.5,0.29,13.0,367.600006,1044.800049,3.0,9.0,54590.0
210266,2010-12-30 18:00:00,39.0,246.0,0.13,10.0,383.100006,762.239990,2.2,13.0,50650.0

In [11]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210267 entries, 0 to 210266
Data columns (total 10 columns):
time         210267 non-null datetime64[ns]
latitude     210267 non-null float64
longitude    210267 non-null float64
cwat         210267 non-null float64
r            210267 non-null float64
tozne        210267 non-null float64
gh           210267 non-null float64
pwat         210267 non-null float64
paramId_0    210267 non-null float64
pres         210267 non-null float64
dtypes: datetime64[ns](1), float64(9)
memory usage: 16.0 MB

In [28]:
merged_data.describe()

,latitude,longitude,cwat,r,tozne,gh,pwat,paramId_0,pres
count,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000
mean,37.894765,239.683990,0.288016,32.345656,337.171770,2307.439167,16.418387,36.690070,50899.820038
std,2.989236,3.394294,0.389484,10.975750,45.311645,989.244569,8.332024,15.617944,13241.731079
min,32.000000,235.000000,0.000000,5.000000,218.699997,0.000000,2.100000,1.000000,12320.000000
25%,35.500000,236.500000,0.040000,24.000000,300.600006,1593.599976,10.400000,25.000000,41020.000000
50%,38.500000,239.000000,0.140000,31.000000,333.600006,2096.959961,14.700000,37.000000,51130.000000
75%,40.500000,242.500000,0.380000,39.000000,369.500000,2780.959961,20.799999,49.000000,60880.000000
max,42.000000,246.000000,4.930000,77.000000,526.400024,5545.120117,72.699997,80.000000,85720.000000

In [96]:
merged_data.iloc[0:20]

,time,latitude,longitude,cwat,r,tozne,gh,pwat,paramId_0,pres,DOY,Year
0,2001-01-06 00:00:00,34.5,243.0,0.14,29.0,269.200012,3222.719971,14.600000,12.0,47210.0,6,2001
1,2001-01-06 00:00:00,34.5,243.5,0.06,27.0,268.899994,3285.760010,14.300000,16.0,47250.0,6,2001
2,2001-01-08 00:00:00,39.5,235.0,0.29,42.0,291.500000,2081.760010,18.600000,30.0,65820.0,8,2001
3,2001-01-08 00:00:00,39.5,235.5,0.50,51.0,286.100006,2126.080078,22.600000,8.0,75750.0,8,2001
4,2001-01-08 00:00:00,39.0,235.5,0.46,47.0,284.700012,2108.479980,21.400000,26.0,71680.0,8,2001
5,2001-01-08 00:00:00,38.5,236.0,0.96,53.0,278.500000,2104.159912,25.200001,17.0,69340.0,8,2001
6,2001-01-08 00:00:00,36.5,235.0,0.00,35.0,285.799988,2053.919922,17.000000,23.0,67430.0,8,2001
7,2001-01-08 00:00:00,36.0,235.0,0.02,35.0,284.899994,2072.159912,17.000000,10.0,69430.0,8,2001
8,2001-01-08 06:00:00,42.0,235.0,0.20,52.0,306.399994,1716.640015,19.900000,53.0,56950.0,8,2001
9,2001-01-08 06:00:00,41.5,235.0,0.13,51.0,306.600006,1712.800049,19.500000,37.0,59790.0,8,2001
10,2001-01-08 06:00:00,41.5,235.5,0.22,52.0,303.600006,1756.319946,19.799999,37.0,61600.0,8,2001
11,2001-01-08 06:00:00,41.0,235.5,0.12,50.0,304.399994,1756.479980,19.400000,54.0,59300.0,8,2001
12,2001-01-08 06:00:00,41.0,236.0,0.42,49.0,298.799988,1748.479980,17.700001,41.0,63790.0,8,2001
13,2001-01-08 06:00:00,40.5,235.5,0.08,48.0,304.899994,1731.359985,18.100000,54.0,59460.0,8,2001
14,2001-01-08 06:00:00,40.5,236.0,0.28,47.0,299.600006,1755.839966,17.000000,48.0,60680.0,8,2001
15,2001-01-08 06:00:00,40.0,235.5,0.03,45.0,305.799988,1745.760010,17.400000,45.0,65440.0,8,2001
16,2001-01-08 06:00:00,40.0,236.0,0.04,44.0,302.100006,1765.280029,16.700001,57.0,57730.0,8,2001
17,2001-01-08 06:00:00,40.0,236.5,0.55,43.0,294.000000,1871.359985,15.000000,20.0,63830.0,8,2001
18,2001-01-08 06:00:00,39.5,236.0,0.00,43.0,304.100006,1816.959961,17.299999,48.0,62320.0,8,2001
19,2001-01-08 06:00:00,39.5,236.5,0.15,42.0,298.000000,1830.079956,15.600000,54.0,59580.0,8,2001

In [21]:
merged_data.time.min() # minimum time is on Jan 6th - are we missing

Timestamp('2001-01-06 00:00:00')

In [23]:
merged_data.time.max()

Timestamp('2010-12-30 18:00:00')

In [25]:
merged_data.time.nunique() # result is 7555. But shouldn't there be 365 days/yr * 4 times/day * 10 yrs = 14600?

7555

In [27]:
merged_data.longitude.nunique()

23

In [39]:
merged_data['DOY'] = merged_data['time'].dt.dayofyear
merged_data['Year'] = merged_data['time'].dt.year
merged_data.describe() # mean DOY is 156 - there's something wrong with our data - we would expect this to be about 183

,latitude,longitude,cwat,r,tozne,gh,pwat,paramId_0,pres,DOY,Year
count,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000,210267.000000
mean,37.894765,239.683990,0.288016,32.345656,337.171770,2307.439167,16.418387,36.690070,50899.820038,156.849696,2005.579516
std,2.989236,3.394294,0.389484,10.975750,45.311645,989.244569,8.332024,15.617944,13241.731079,119.951552,2.860299
min,32.000000,235.000000,0.000000,5.000000,218.699997,0.000000,2.100000,1.000000,12320.000000,1.000000,2001.000000
25%,35.500000,236.500000,0.040000,24.000000,300.600006,1593.599976,10.400000,25.000000,41020.000000,55.000000,2003.000000
50%,38.500000,239.000000,0.140000,31.000000,333.600006,2096.959961,14.700000,37.000000,51130.000000,110.000000,2005.000000
75%,40.500000,242.500000,0.380000,39.000000,369.500000,2780.959961,20.799999,49.000000,60880.000000,288.000000,2008.000000
max,42.000000,246.000000,4.930000,77.000000,526.400024,5545.120117,72.699997,80.000000,85720.000000,365.000000,2010.000000

In [44]:
unique_per_year = merged_data.groupby('Year').nunique() # we expect about 365 for DOY

In [48]:
unique_per_year['DOY'] # we see less than 365 days for each year :(

Year
2001    242
2002    227
2003    259
2004    263
2005    274
2006    279
2007    235
2008    225
2009    244
2010    271
Name: DOY, dtype: int64

Which days are missing from each year? Is it always the same time of year that's missing?

In [95]:
set(merged_data.groupby('DOY').filter(lambda x: x['Year'].nunique() == 10).DOY) 
# These are DOYs that exist in every year. Seems kind of random to me.

{21,
 25,
 26,
 45,
 49,
 51,
 64,
 85,
 106,
 110,
 196,
 198,
 200,
 204,
 215,
 315,
 332,
 349,
 361}

## End of validation, for now.

Dataset not complete like we thought it was. Ask for advice from group members before proceeding.

## Temporal binning of weather data.

We are unable to determine the timezone of the wildfires data. It may be in local time, which UTC-8 in California/Nevada for the winter months, or it may be in UTC. When a day starts in UTC, it will be 8 hours before that same day starts in California/Nevada. Our weather data is in UTC time. *If* our fires data is in local time, this is convenient for us, beacuse for a specific date, our weather features start 8 hours earlier than our fires. If our weather features are in local time, 

Nevertheless, we were unable to find which timezone the fires data are in, so in the worst-case scenario there would be on average 8 hours of misalignment on either side of each bin. The worst-case misalignment would be 16 hours per bin, which is too much for a bin of 24 hours. In order to be careful and reduce the percentage of time per bin that could be error, it would be **wise to bin up to longer time periods: try 72 hours (3 days), 5 days, and 10 days**.

Temporal binning also allows us to create new features, using the max, min, range, and standard deviation of each of our daily weather features. The 10-day binned dataset also mimics research by Cao et al in China, allowing us to compare our model to theirs.

Binned info should include start year, end year, start doy, end doy
For each base parameter: bin max, bin min, bin mean, bin range (=max-min), bin std

### Are we trying to mimic the Cao et al paper?

The Cao et al paper is invalid for real-time predictions, because they used weather features and wildfire ignitions from the same 10-day period, meaning they included weather measurements from just *after* an ignition as part of the input in order to "predict" it. For Cao et al, their methods were acceptable, as their ultimate goal was to create a wildfire susceptibility map for a province in China - they used the highest-probability predictions over 9 years from each location to assign that location a susceptibility.

If we have time, we can try for **two different goals**. One goal would be to see whether we can **match the predictions of Cao et al**, which means a susceptibility map for California/Nevada could be created that is as accurate as their map was for southern China. Another goal would be to see whether our model can **precidt wildfires *before* they happen** - i.e. based on to-the-moment weather data, predict whether a wildfire will happen in the next few days. This cannot be compared to what Cao et al did, and it requires that we join our fires data differently, but it may be a more compelling use-case for our model.

In [13]:
# Prepare for weather bins

In [ ]:
merged_data['DOY'] = merged_data['time'].dt.dayofyear
merged_data['Year'] = merged_data['time'].dt.year
#merged_data = merged_data.groupby(['DOY','latitude','longitude','Year'], as_index=False).mean()
#merged_data['longitude'] = merged_data['longitude'] - 360
#merged_data['latitude'] = pd.cut(merged_data['latitude'], bins=np.arange(17, 71, 0.5).tolist())
#merged_data['longitude'] = pd.cut(merged_data['longitude'], bins=np.arange(-179, -64, 0.5).tolist())
#merged_data = merged_data.dropna()

In [7]:
# Create weather 3-day bins

In [4]:
# Create weather 5-day bins

In [5]:
# Create weather 10-day bins

While I'm in here working on the bins, I will add add time-of-year variables: Macro-season and Month (month will need to be one-hot encoded later on. Macro-season will function the same whether or not we one-hot encode it, because it has only two levels.)

## Spatial assignment of fires to weather

Create a target variable that uses the best box around each weather location so that the weather most closeley applies to the fire locations.

Also try adding another target variable where the fire is within a certain radius around the weather location.